# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea
.vscode
cpp/libs
cpp/server/libs
cpp/redis_demo/.vs
cpp/redis_demo/RedisDemo/x64
cpp/redis_demo/x64/Debug
cpp/redis_demo/build
cpp/redis_demo/logs
.vs
cpp/redis_demo/out/build/Visual Studio Community 2022 Release - amd64/CMakeFiles
cpp/redis_demo/out
